@font-face {
    font-family: Roboto;
    src:
        local(Roboto)
        local("Space Mono")
}

html {
    margin: 48px auto;
}

body {
    background-color: #E7F2FF;
    margin: 0px auto;
    max-width: 928px;
}

table {
    width: auto;
    height: auto;
    padding: 8px;
    margin: 0px auto;
    border: 1px solid black;
    border-spacing: 4px;
}

td {
    padding: 2px 4px;
    table-layout: auto;
    width: auto;
    height: auto;
    vertical-align: top;
}

h3,
h2,
h1 {
    font-family: "Space Mono";
}

h1 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 800;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

p {
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
}

.c {
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}

.career {
    line-height: 0px;
    display: inline-block;
}

.careerTitle {
    border-radius: 4px;
    background-color: black;
    color: white;
    width: 328px;
    height: 192px;
    padding: 16px 0px 0px 24px;
    box-sizing: border-box;
    line-height: 10px;
}

.careerName {
    color: #FFB800;
    line-height: 64px;
}

.careerDescription {
    width: 328px;
    line-height: 22px;
    letter-spacing: 0.048em;
}

.code {
    width: 180px;
    min-width: 150px;
}

.name {
    width: 100px;
    min-width: 20px;
    font-weight: 600;
    color: green;
    text-align: center;
}

.description {
    min-width: 160px;
}

.caption {
    font-size: 14px;
    font-weight: 1000;
}

.title {
    padding: 16x 32px;
    color: black;
    line-height: 64px;
}

.header {
    color: white;
    border: 2px;
    border-color: black;
    background-color: black;
}

.tag {
    text-align: center;
}

.codecademy {
    width: 120px;
    height: 24px;
}