html {
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

nav {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    column-gap: 1rem;
}

a {
    cursor: pointer;
}

.block {
    padding: 4rem;
}

.bg {
    background-color: white;
    border-radius: .25rem;
}

/* Logo */

.logo {
    display: inline-flex;
    align-items: start;
    gap: 2rem;
}

.logo .content {
    width: 8rem;
}

/* Features */

.features {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.features .feature {
    margin-top: 2rem;
    display: inline-flex;
    gap: 2rem;
}

/* Team */

.team {
    display: block;
    text-align: center;
}

.team .teamList {
    margin-top: 2rem;
    display: inline-flex;
    width: 100%;
    gap: 2rem;
}

.team .teamList .member {
    height: 100%;
    width: auto;
}