nav {
    display: inline-flex;
    position: sticky;
    top: 0;
    transition: all 0.2ms ease;
    justify-content: center;
    list-style: none;
    column-gap: 1rem;
    background-color: #FAF6ED;
}

a {
    cursor: pointer;
}

.bg {
    border-radius: 0.25rem;
}

/* Logo */

.logo {
    align-items: center;
    gap: 1rem;
}

.logo img {
    height: 128px;
    border: 1px solid black;
}

.content {
    width: 100%;
    gap: 1rem;
}

@media only screen and (max-width: 720px) {
    .logo {
        display: flex;
        flex-direction: column !important;
        text-align: center;
    }

    .feature {
        flex-direction: column !important;
    }
}


/* Features */

.features {
    text-align: center;
    margin: 0 auto;
}

.features h4 {
    height: 100%;
}

.features .featuresList {
    margin-top: 2rem;
    display: inline-flex;
    justify-content: space-between;
    gap: 1rem;
}

.feature {
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.feature img {
    width: 100%;
    max-width: 16rem;
    border: 1px solid black;
}

@media only screen and (max-width: 720px) {
    .featuresList {
        flex-direction: column;
        gap: 2rem !important;
        flex-wrap: wrap;
    }
}

/* Team */

.team {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.teamList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    justify-content: center;
    margin-top: 2rem;
    max-width: 40rem;
    gap: 2rem;
    width: 100%;
}

.team h4 {
    height: fit-content;
    align-content: end;
}

.member {
    width: 100%;
    max-width: 20rem; /* Maximum width for each item */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.member:nth-child(2n)::after {
    content: '';
    flex-basis: 100%;
    width: 0;
    height: 0;
}

.member img {
    width: 100%;
    border: 1px solid black;
}

/* Ensures that each row has at least 2 items and no single item in a row */
@media (max-width: 30rem) {
    .teamList {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 720px) {
    .team .teamList {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2rem;
    }
}
