html {
    height: 100%;
    overflow-y: scroll;
}

body {
    max-width: none;
    height: 100%;
	margin: 0 auto;
	padding: unset;
}

.game-container {
	max-width: 40rem;
	margin: 0 auto;
	text-align: center;
    user-select: none;
}

header {
	display: flex;
	justify-content: center
}

.rounds {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.round-label {
    width: 100%;
}

.guess {
    position: relative;
	min-width: 18rem;
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem;
}

.guessing-area {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.guess-label {
    font-weight: 500;
}

.guess-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1.5rem;
}

.target-guess {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#computer-guess,
#human-guess {
    position: relative;
    top: 2rem;
	font-size: 4rem;
	font-weight: 500;
}

#human-guess-input {
    width: 5.25rem;
    border: 1px solid #0075FF;
}

.guess input {
	height: 5rem;
	width: 5rem;
	font-size: 2rem;
	text-align: center;
	margin: 0 auto;
	margin-bottom: .5rem;
}

.number-controls {
    display: flex;
	margin-bottom: 1.5rem;
}

.number-control {
    border: unset;
	display: inline-block;
	width: 2.5rem;
	height: 2rem;
	font-size: 1.5rem;
}

.number-control:hover {
    background-color: #0075FF;
    color: white;
}

.number-controls button[disabled] {
	color: #0075FF;
	cursor: default;
}

.number-controls .button[disabled]:hover {
    background-color: white !important;
    cursor: default;
}

.right {
	border-left-width: 0px;
}

.controls {
	display: flex;
	justify-content: space-around;
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


#game-container .button {
    position: relative;
    color: black;
	cursor: pointer;
    z-index: 1;
    background-color: unset;
    border: 1px #0075FF solid;
}

#game-container .button:hover {
    color: #0075FF;
}

#game-container .button:active {
    color: transparent;
}

#game-container .button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #0075FF;
    transition: height .2s ease;
    z-index: 0;
}

#game-container .button:hover::before {
    height: 0px;
}

#game-container .button[disabled] {
	cursor: default;
    border: 1px #FFB800 solid;
    color: unset;
}

#game-container .button[disabled]::before {
    background-color: unset;
}

#guess.button[disabled] {
    border: unset;
    color: transparent;
}

#next-round.button {
    margin: 0 auto;
	margin-bottom: 2rem;
}

.instructions {
	width: 100%;
}

.instruction {
	width: 12rem;
	padding: 1rem;
	text-align: center;
}

.winning-text,
.winning-text[disabled] {
	color: #D90000 !important;
    position: absolute !important;
    bottom: 1.6rem;
}





/* Spoiler */

#spoilerContainer {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1;
    transition: max-height 0.5s ease-out;
}

#spoilerContent {
    background-color: #FAF6ED;
    max-height: 0;
    overflow: hidden;
    z-index: 2;
    transition: max-height 0.5s ease-out;
}

.spoiler {
    box-sizing: border-box;
    align-self: center;
    width: 100%;
    max-width: 58rem;
    padding: 1.5rem;
}

#spoilerButton,
#spoilerButton.off,
#spoilerButton.on {
    position: relative;
    display: flex;
    align-self: center;
    padding: .5rem 1rem;
    margin: .5rem 0;
    border: none;
    cursor: pointer;
    background-color: unset !important;
    color: black;
}

#spoilerButton:hover {
    color: #0075FF;
}

#spoilerButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .2s ease
}

#spoilerButton.off::before {
    border-bottom: 4px #0075FF solid;
}

#spoilerButton.on::before {
    border-top: 4px #0075FF solid;
}

#spoilerButton.on:hover::before,
#spoilerButton.off:hover::before {
    transform: scaleX(2);
}









/* Animations */

#game {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    transition: opacity 0.5s ease-in-out;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
    display: flex;
}











/* Media */

@media only screen and (max-width: 600px) {
    .career {
        display: none;
    }

    .guessing-area {
        flex-direction: column !important;
        align-items: center;
    }

    .computer-guess {
        height: fit-content;
    }

    .instructions {
        flex-direction: column !important;
        align-items: center;
    }
}