html {
    background-color: #000;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: unset;
}

.text {
    box-sizing: border-box;
    max-width: 44rem;
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    margin: 8rem;
}

.blur {
    backdrop-filter: blur(5px);
    color: white;
    border-bottom: 1px white solid;
}

.width {
    display: flex;
    width: 100%;
    justify-content: center;
}






/* Spoiler */

header {
    display: flex;
    flex-direction: column;
    background-color: #FAF6ED;
    gap: 0;
}

header .club {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: fit-content;
    align-self: center;
    width: 100%;
}

.hidden {
    padding: 0 !important;
}

button {
    display: flex;
    align-self: center;
    padding: .5rem 1rem;
    margin: .5rem 0;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #0075FF;
}

#spoilerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: max-height 0.5s ease-out;
    backdrop-filter: blur(5px);
}

/* #spoilerContainer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    overflow: visible;
    filter: blur(10px);
    z-index: 1;
} */

#spoilerContainer ul {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    list-style: none;
    padding: unset;
    height: 3rem;
    width: 100%;
    max-width: 40rem;
}

ul li {
    display: flex;
    align-items: center;
}

ul li a {
    color: white;
}

ul li.empty {
    height: 1rem;
    align-self: center;
    border-right: 1px #ffffff80 solid;
}

ul li p.logo {
    width: 100%;
    color: white !important;
}

ul li > p {
    display: flex;
    align-self: center;
    padding: .5rem 1rem;
    margin: .5rem 0 !important;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

ul li > p:hover {
    color: #FFB800;
}

#spoilerContent {
    max-height: 0;
    overflow: hidden;
    z-index: 2;
    transition: max-height 0.5s ease-out;
}

.spoiler {
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 2rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 61rem;
    padding: 1.5rem;
}













/* Main content */

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.scroll {
    height: 100vh;
    scroll-snap-align: start;
}

main {
    width: 100%;
    color: white;
    align-items: center;
}

main #home::before {
    background: url('https://images.unsplash.com/photo-1511994298241-608e28f14fde?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center;
    background-size: cover;
    background-position: bottom;
}

main > div {
    height: 100vh;
    align-items: center;
}

main .header div.text {
    align-items: start;
    padding: 1.5rem;
    gap: 1rem;
    width: fit-content;
    align-self: flex-end;
    justify-content: start;
}

main #about {
    position: relative;
    text-align: start;
    justify-content: center;
}

main #about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1708154180762-0a1136411272?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    filter: brightness(80%);
}

main #ai {
    position: relative;
    text-align: start;
    justify-content: left;
}

main #ai::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1541282593580-5342a080b927?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

main #benefits {
    position: relative;
    text-align: end;
    justify-content: right;
}

main #benefits::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1670750463932-5761855c6ff3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(60%);
}

main #paths {
    position: relative;
    text-align: start;
    justify-content: left;
}

main #paths::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    background: url('https://images.unsplash.com/photo-1488401318902-f7feae66db20?q=80&w=2104&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(80%);
}

main #rides {
    position: relative;
    text-align: end;
    justify-content: right;
}

main #rides::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1636625464579-5759d224d279?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(60%);
}

main #fin::before {
    background: url('https://images.unsplash.com/photo-1515164084382-4ac60f929e06?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center;
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
}

.animated {
    position: relative;
    overflow: hidden;
}

.animated::before {
    animation: scaleBackground 10s infinite ease-in-out;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes scaleBackground {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.header h1 {
    text-align: center;
}

div h2 {
    padding: 1rem 1.5rem;
}

@media only screen and (max-width: 720px) {
    header .club {
        display: flex;
        flex-direction: column;
    }

    .career,
    ul li.link {
        display: none;
    }

    .text {
        margin: unset;
    }
}
