@font-face {
    font-family: 'Roboto';
    src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: local('Space Mono'),
    url("../fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: local('Space Mono'),
    url("../fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: local('Space Mono'),
    url("../fonts/Space_Mono/SpaceMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Space Mono';
    src: local('Space Mono'),
    url("../fonts/Space_Mono/SpaceMono-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* Basics */

html {
    padding: 48px 0px 48px 0px;
    background: #FAF6ED;
    width: 100%;
}

body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    margin: 0px auto;
    max-width: 928px;
}

main {
    box-sizing: border-box;
    display: grid;
    row-gap: 32px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 928px;
}

header {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 32px;
    height: fit-content;
}

@media only screen and (max-width: 800px) {

    header {
        display: flex;
        flex-direction: column;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0075FF;
}

h4,
h3,
h2,
h1,
a {
    margin: 0;
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
}

.c,
.u {
    margin: 0;
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 0.074em;
}

p {
    margin: 0;
    font-family: 'Roboto', Tahoma, Verdana, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.048em;
}

h1 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: -0.02em;
}

h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.c {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.u {
    text-decoration: underline;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.title {
    box-sizing: border-box;
    justify-content: stretch;
    border: 1px solid black;
    border-color: black;
    background-color: white;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

/* Career Path */

.career {
    align-items: flex-start;
    min-width: 328px;
}

.fixed {
    position: fixed;
}

.careerTitle {
    color: white;
    height: 100%;
    width: 100%;
}

.careerCaption {
    height: 24px;
}

.careerProf {
    color: #FFB800;
}

.careerDescription .student {
    width: 100%;
    height: fit-content;
}

.studentName {
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.codecademy {
    width: 125px;
    height: 27px;
}

.codecademy:hover {
    fill: #0075FF;
}

/* Challenges */

.challenges {
    align-items: flex-start;
}

.margin360 {
    margin-left: 360px;
}

.arrow {
    width: 16px;
    height: 12px;
}

.arrowBox {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    width: 32px;
    height: 32px;
}

.challengeList {
    align-items: center;
    stroke: black;
    min-width: 320px;
}

.challengeList:hover {
    stroke: #0075FF;
}

/* Challenge */

.challenge {
    display: flex;
    flex-direction: column;
    min-height: 152px;
}

.open:hover {
    color: #0075FF;
    fill: #0075FF;
}

.closed {
    border: 1px dashed black;
}

.challengeTitle {
    height: 88px;
    text-align: left;
}

.challengeCaption {
    max-width: 520px;
    height: 24px;
}

table {
    justify-content: stretch;
    width: 100%;
    margin: 0px auto;
    border: 1px solid black;
}

th,
td {
    padding: 16px 24px;
    width: auto;
    min-width: 140px;
    text-align: left;
}

th {
    color: #FFB800;
    background-color: black;
}

/* Design system */

.lineLeft {
    width: 328px;
}

.lineRight {
    flex-grow: 1;
}

.color {
    justify-content: stretch;
    vertical-align: top;
    flex-grow: 1;
}

.lineFont {
    background-color: white;
    border-radius: 4px;
}

.fontSpaceMono {
    font-family: 'Space Mono';
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

.fontRoboto {
    font-family: 'Roboto';
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

/* Variables */

.padding {
    box-sizing: border-box;
    padding: 16px 24px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.border {
    border-radius: 4px;
}

.gap-col-4 {
    column-gap: 4px;
}

.gap-col-8 {
    column-gap: 8px;
}

.gap-col-16 {
    column-gap: 16px;
}

.gap-row-4 {
    row-gap: 4px;
}

.gap-row-8 {
    row-gap: 8px;
}

.gap-row-16 {
    row-gap: 16px;
}

.color-black {
    color: black;
}

.color-white {
    color: white
}

.color-primary {
    color: #0075FF;
}

.color-secondary {
    color: #FFB800;
}

.color-success {
    color: #00A52F;
}

.color-error {
    color: #D90000;
}

.color-bg-black {
    background-color: black;
}

.color-bg-white {
    background-color: white;
}

.color-bg-primary {
    background-color: #0075FF;
}

.color-bg-secondary {
    background-color: #FFB800;
}

.color-bg-success {
    background-color: #00A52F;
}

.color-bg-error {
    background-color: #D90000;
}