@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: local("Space Mono"),
    url("../fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: local("Space Mono"),
    url("../fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: local("Space Mono"),
    url("../fonts/Space_Mono/SpaceMono-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: local("Space Mono"),
    url("../fonts/Space_Mono/SpaceMono-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* Basics */

html {
    padding-top: 48px;
    padding-bottom: 48px;
    background: #E7F2FF;
    width: 100%;
}

body {
    display: grid;
    row-gap: 48px;
    margin: 0px auto;
    max-width: 928px;
}

main {
    box-sizing: border-box;
    display: grid;
    row-gap: 32px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 928px;
}

header {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 32px;
    height: fit-content;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0075FF;
}

h4,
h3,
h2,
h1 {
    margin: 0;
    font-family: "Space Mono";
}

.c,
.u {
    margin: 0;
    font-family: "Space Mono";
    text-transform: uppercase;
    letter-spacing: 0.074em;
}

p {
    margin: 0;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.048em;
}

h1 {
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: -0.02em;
}

h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.02em;
}

.c {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.u {
    text-decoration: underline;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.u:hover {
    text-decoration: none;
}

.title {
    box-sizing: border-box;
    justify-content: stretch;
    border: 1px solid black;
    border-color: black;
    background-color: white;
}

.part {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.content {
    display: grid;
    row-gap: 8px;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.padding {
    box-sizing: border-box;
    padding: 16px 24px;
}

/* Career Path */

.career {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 328px;
    height: 100%;
}

.fixed {
    position: fixed;
}

.careerTitle {
    display: grid;
    row-gap: 16px;
    border-radius: 4px;
    background-color: black;
    color: white;
    height: fit-content;
    padding: 16px 24px;
    box-sizing: border-box;
}

.careerCaption {
    height: 24px;
}

.careerProf {
    color: #FFB800;
}

.careerDescription .student {
    width: 100%;
    height: fit-content;
}

.studentName {
    font-family: "Space Mono";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.codecademy {
    width: 125px;
    height: 27px;
}

.codecademy:hover {
    fill: #0075FF;
}

/* Challenges */

.challenges {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 568px;
    height: fit-content;
}

.margin360 {
    margin-left: 360px;
}

.arrow {
    width: 16px;
    height: 12px;
}

.arrowBox {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    width: 32px;
    height: 32px;
}

.challengeList {
    display: flex;
    flex-direction: row;
    align-items: center;
    stroke: black;
    column-gap: 16px;
}

.challengeList:hover {
    stroke: #0075FF;
}

/* Challenge Frame */

.challenge {
    height: 152px;
    display: grid;
    row-gap: 8px;
}

.open:hover {
    color: #0075FF;
    fill: #0075FF;
}

.closed {
    border: 1px dashed black;
}

.challengeTitle {
    height: 88px;
    text-align: left;
}

.challengeCaption {
    width: 520px;
    height: 24px;
}

table {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    padding: 8px;
    margin: 0px auto;
    border: 1px solid black;
}

th,
td {
    padding: 16px 24px;
    width: auto;
    min-width: 140px;
    text-align: left;
}

th {
    color: #FFB800;
    background-color: black;
}

/* Design system */

.line {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    row-gap: 16px;
    height: 94px;
}

.lineLeft {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 328px;
}

.lineRight {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    flex-grow: 1;
}

.color {
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    flex-grow: 1;
    row-gap: 8px;
    border-radius: 4px;
}